<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.FilmTypeDao">


	<resultMap type="com.java.entity.FilmType" id="filmTypeMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="typeName" property="typeName" jdbcType="VARCHAR"/>	
	</resultMap>



	<select id="getFilmType" parameterType="java.util.Map" resultMap="filmTypeMap">
		select * from t_filmtype 
	</select>
</mapper>
